// VARIABLE OVERRIDES
// Color
$white: #fff;
$black: #000;
$gray: #cfd8dc;
$brand-primary: #9b26af;
$brand-danger: #f44336;
$gray-base: #fff;
$gray-darker: #000;
$gray-dark: #616161;
$gray: #bdbdbd;
$gray-light: #eee;
$gray-lighter: #fafafa;
$green-accent: #68efad;

// Border
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

// Navbar
$navbar-default-brand-color: $white;
$navbar-default-color: $white;
$navbar-default-link-color: $white;
$navbar-default-link-hover-color: $white;
$navbar-default-link-active-color: $white;
$navbar-default-brand-hover-color: $white;
$navbar-default-bg: $brand-primary;
$navbar-default-border: $brand-primary;

// Forms
$input-border-focus: $green-accent;
$input-color: $black;

// Fonts
$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

// IMPORTS
@import 'bootstrap';
@import url(https://fonts.googleapis.com/css?family=Codystar|Roboto:300,400,700);

a:hover {
  text-decoration: none;
}

.so-question-content {
  margin: 10px 20px;
  font-weight: 300;
  font-size: 20px;
}

.so-tile {
  margin-top: $padding-large-vertical;
  background-color: $white;
  padding: $padding-large-vertical $padding-large-horizontal;
  color: $black;

  .col-sm-10 {
    padding-top: 7px;
  }
}

.so-tile-list {
  .so-tile {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12);
  }

  .so-tile:hover {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12);
  }
}

.so-show-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-brand {
  font-family: 'Codystar', Helvetica, Arial, sans-serif;
  font-size: 50px;
}

form {
  color: $black;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: $white;
    background-color: $green-accent;
    border-color: $green-accent; /*set the color you want here*/
}
