<!-- AUTHOR -->
<div class="form-group">
  <label for="author" class="col-sm-2 control-label">Author</label>
  <div class="col-sm-10">
    {{question.author}}
  </div>
</div>

<!-- CONTENT -->
<div class="form-group">
  <label for="content" class="col-sm-2 control-label">Question</label>
  <div class="col-sm-10">
    {{question.content}}
  </div>
</div>

<!-- NOTES -->
<div class="form-group">
  <label for="notes" class="col-sm-2 control-label">Description</label>
  <div class="col-sm-10">
    {{question.notes}}
  </div>
</div>

<!-- EDIT BUTTON -->
<div class="form-group">
  <div class="col-sm-10 col-sm-offset-2">
    <!--  -->
  </div>
</div>
