{{question-form saveQuestion='saveQuestion'}}

{{#each model as |question|}}
  {{#link-to 'question' question.id}}
    <div class="so-tile-list">
      {{question-tile question=question}}
    </div>
  {{/link-to}}
{{/each}}
